.cards {
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.cards .cards__item:nth-child(3n) {
  margin-right: 0;
}
