.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 100px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .cards {
    column-gap: 50px;
  }
}

@media screen and (max-width: 424px) {
  .cards {
    column-gap: 20px;
  }
}
