.footer__column-link {
  color: white;
  line-height: 1.66;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .5s linear;
}

.footer__column-link:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .footer__column-link {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer__column-link {
    font-size: 12px;
  }
}
