.cards__description {
  max-width: 226px;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 16px 0 0;
}

@media screen and (max-width: 767px) {
  .cards__description {
    font-size: 15px;
  }
}
