.section-subtitle {
  text-align: center;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .section-subtitle {
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  .section-subtitle {
    font-size: 18px;
  }
}
