.khan {
  padding-top: 105px;
  margin: 0 auto;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .khan {
    padding: 55px 34px 0;
  }
}

@media screen and (max-width: 424px) {
  .khan {
    padding: 45px 17px 0;
  }
}
