.header {
  background-color: #f2f2f2;
  padding: 30px 64px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 1600px) {
  .header {
    padding: 30px calc((100vw - 1472px) / 2);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    min-height: 450px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-height: 300px;
    padding: 30px 34px;
  }
}

@media screen and (max-width: 424px) {
  .header {
    min-height: 250px;
    padding: 20px 17px;
  }
}
