.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

@media screen and (max-width: 424px) {
  .cards__item {
    margin-top: 30px;
  }
}
