.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .two-columns__main-text {
    width: 100%;
  }
}
