.oakley {
  padding-top: 160px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

@media screen and (min-width: 1600px) {
  .oakley {
    padding: 160px calc((100vw - 1472px) / 2) 0;
  }
}

@media screen and (max-width: 767px) {
  .oakley {
    padding: 100px 34px 0;
  }
}

@media screen and (max-width: 424px) {
  .oakley {
    padding: 70px 17px 0;
  }
}
