.table_theme_dark {
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 25px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .table_theme_dark {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
