.header__main-illustration {
  width: 765px;
  aspect-ratio: 1.25 / 1;
  object-fit: cover;
  object-position: top;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .header__main-illustration {
    width: 60%;
  }
}
