.khan__book-pic {
  width: 53.8%;
  aspect-ratio: 1/0.98;
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}

@media screen and (max-width: 767px) {
  .khan__book-pic {
    margin-right: 24px;
  }
}

@media screen and (max-width: 424px) {
  .khan__book-pic {
    width: 80%;
    order: 2;
  }
}
